html, body {
    min-height: 100vh;
    display: flex;
    place-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
b, strong {
    font-size: 2em;
}
p {
    text-align: center;
    margin: 0;
}
a {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.2em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    text-align: center;
}
